<router-outlet></router-outlet>
<app-navbar></app-navbar>
<app-profile></app-profile>
<app-about [details]="aboutDetails" (detailClicked)="onDetailSelected($event)">
</app-about>
<app-projects id="projects"></app-projects>

<!-- <div>
  <button (click)="callApiHandler()">Test</button>
</div> -->
<!-- TODO Bonus homework create the about me component passing @Input into it and on click use @Output() to log that the input was clicked-->
<!-- TODO Bonus finish converting the vanilla project to an angular project -->
